<jsv-header>
	<button-header-left></button-header-left>
       Fretes
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

                  <!-- HEADER -->
                  <header class="fretes">
                    <div class="container">
                      <div class="row">
                         <div class="col-12">
                            <div class="form-group has-feedback">
                               <input type="text" id="localOrigin" class="form-control" placeholder="Onde você está?" onkeyup="ativandoPesquisa()">
                               <i class="fa fa-map-marker"></i>
                            </div>
                         </div>
                         <div class="col-12">
                            <div class="form-group has-feedback">
                               <input type="text" id="localDestino" class="form-control" placeholder="Para onde deseja ir?" onkeyup="ativandoPesquisa()">
                               <i class="fa fa-map-marker"></i>
                            </div>
                         </div>
                      </div>
                      <div class="row filtros">
                         <div class="col">
                            <a href="javascript:void(0)" title="Filtrar">
                               <i class="fa fa-filter"></i> Filtrar
                            </a>
                         </div>
                         <div class="col">
                            <a href="javascript:void(0)" title="Filtrar">
                               <i class="fa fa-list-ol"></i> Relevância
                            </a>
                         </div>
                         <div class="col">
                            <a href="javascript:void(0)" title="Filtrar">
                               <i class="fa fa-heart-o"></i> Salvo
                            </a>
                         </div>
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->

                  <!-- CONTEÚDO -->
                  <div class="corpo-comum" style="padding-top: 180px;">
                    <div class="container conteudo">


                         <div class="loop-carregando">
                        <div class="load-wrapp">
                              <div class="load-10">
                                <p>Carregando conteúdo</p>
                                <div class="bar"></div>
                              </div>
                            </div>
                    </div>



                    </div>
                  </div>
                  <!-- CONTEÚDO -->


              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">



            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
