<jsv-header>
	<button-header-left></button-header-left>
       Início
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

                  <!-- HEADER -->
                  <header class="home">
                    <div class="container">
                      <div class="row">
                        <div class="col-8 no-padding coluna-um">
                           <h2>Olá, João Almeida</h2>
                           <h4>Saldo em conta <small>1.500 pontos</small></h4>
                        </div>
                        <div class="col-4 no-padding coluna-dois">
                         <a href="javascript:void(0)" title="Atualizar foto de perfil">
                            <img src="assets/images/foto-perfil.png" alt="" class="imagem-perfil">
                         </a>
                        </div>
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->

                  <!-- CONTEÚDO -->
                  <div class="corpo-comum" style="padding-top: 125px;">
                    <div class="container conteudo">

                    
                    <div class="loop-carregando">
                        <div class="load-wrapp">
                              <div class="load-10">
                                <p>Carregando conteúdo</p>
                                <div class="bar"></div>
                              </div>
                            </div>
                    </div>


                     <!-- LOOP CONTEÚDO -->
                     <div class="loop-conteudo" id="loopConteudo">
                     </div>
                     <!-- LOOP CONTEÚDO -->

                      <!-- LOOP BANNERS -->
                     <div class="loop-banners" id="loopBanners">
                     </div>
                     <!-- LOOP BANNERS -->

                      <!-- LOOP PARCERIAS -->
                     <div class="loop-parcerias" id="loopParcerias">
                     </div>
                     <!-- LOOP PARCERIAS -->



                    </div>
                  </div>
                  <!-- CONTEÚDO -->


              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">



            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
