<jsv-header>
	<button-header-left></button-header-left>
       Início
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

                  <!-- HEADER -->
                  <header class="home">
                    <div class="container">
                      <div class="row">
                        <div class="col-8 no-padding coluna-um">
                           <h2>Olá, João Almeida</h2>
                           <h4>Saldo em conta <small>1.500 pontos</small></h4>
                        </div>
                        <div class="col-4 no-padding coluna-dois">
                         <a href="javascript:void(0)" title="Atualizar foto de perfil">
                            <img src="assets/images/foto-perfil.png" alt="" class="imagem-perfil">
                         </a>
                        </div>
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->

                  <!-- CONTEÚDO -->
                  <div class="corpo-comum" style="padding-top: 125px;">
                    <div class="container conteudo" style="padding-left: 0px;padding-right: 0px;">

                    
                    <div class="loop-carregando">
                        <div class="load-wrapp">
                              <div class="load-10">
                                <p>Carregando conteúdo</p>
                                <div class="bar"></div>
                              </div>
                            </div>
                    </div>


                     <!-- LOOP CONTEÚDO -->
                     <div class="loop-conteudo" id="loopConteudo">
                        <div id="stories"></div>
                     </div>
                     <!-- LOOP CONTEÚDO -->

                      <!-- LOOP BANNERS -->
                     <div class="loop-banners owl-carousel" id="loopBanners">
                         
                          <!-- PAGINA -->
                          <div class="item">
                              <div class="banner" style="background: url('assets/images/banner-empresa-6.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center">
                                 <a href="javascript:void(0)" title="Empresa parceira">
                                    &nbsp;
                                 </a>
                              </div>
                          </div>
                          <!-- PAGINA -->

                          <!-- PAGINA -->
                          <div class="item">
                              <div class="banner" style="background: url('assets/images/banner-empresa-2.png') #f2f2f2 no-repeat;background-size: cover;background-position: center center">
                                 <a href="javascript:void(0)" title="Empresa parceira">
                                    &nbsp;
                                 </a>
                              </div>
                          </div>
                          <!-- PAGINA -->

                          <!-- PAGINA -->
                          <div class="item">
                              <div class="banner" style="background: url('assets/images/banner-empresa-3.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center">
                                 <a href="javascript:void(0)" title="Empresa parceira">
                                    &nbsp;
                                 </a>
                              </div>
                          </div>
                          <!-- PAGINA -->

                           <!-- PAGINA -->
                          <div class="item">
                              <div class="banner" style="background: url('assets/images/banner-empresa-1.png') #f2f2f2 no-repeat;background-size: cover;background-position: center center">
                                 <a href="javascript:void(0)" title="Empresa parceira">
                                    &nbsp;
                                 </a>
                              </div>
                          </div>
                          <!-- PAGINA -->

                          <!-- PAGINA -->
                          <div class="item">
                              <div class="banner" style="background: url('assets/images/banner-empresa-4.png') #f2f2f2 no-repeat;background-size: cover;background-position: center center">
                                 <a href="javascript:void(0)" title="Empresa parceira">
                                    &nbsp;
                                 </a>
                              </div>
                          </div>
                          <!-- PAGINA -->

                          <!-- PAGINA -->
                          <div class="item">
                              <div class="banner" style="background: url('assets/images/banner-empresa-5.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center">
                                 <a href="javascript:void(0)" title="Empresa parceira">
                                    &nbsp;
                                 </a>
                              </div>
                          </div>
                          <!-- PAGINA -->

                          
                          
                          
                          
                     </div>
                     <!-- LOOP BANNERS -->

                      <!-- LOOP PARCERIAS -->
                     <div class="loop-parcerias" id="loopParcerias">
                        
                        <div class="row">
                          <div class="col-12">
                              <h3>Parcerias:</h3>

                              <div class="row lista-parcerias">
                                  
                                  <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/kit-alimentacao-estrada.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 50 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                                  <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/parceria2.jpeg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 150 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                                  <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/parceria3.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 200 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                                  <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/parceria4.jpeg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 250 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                                  <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/parceria5.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 50 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                                  <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/parceria6.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 150 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                                  <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/ampm.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 200 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                                  <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/sula-miranda.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 250 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                                  <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/pedagio.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 50 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                                   <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/kit-alimentacao-estrada.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 50 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                                  <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/parceria2.jpeg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 150 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                                  <!-- ITEM -->
                                  <div class="col-6" onclick="singleConteudo()">
                                     <div class="caixa-parceria-pontos" style="background: url('assets/images/parceria3.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         <a href="javascript:void(0)" title="A PARTIR DE 50 PONTOS">
                                            A PARTIR DE 200 PONTOS
                                         </a>
                                     </div>
                                  </div>
                                  <!-- ITEM -->

                              </div>
                               


                          </div>
                        </div>

                     </div>
                     <!-- LOOP PARCERIAS -->



                    </div>
                  </div>
                  <!-- CONTEÚDO -->


              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">



            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
